body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1d2b64, #f8cdda);
}
.main {
    
    width: 100vw;
    height: 100vh;
}
.counter{
    
    background: linear-gradient(to right, #556270, #ff6b6b);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 65%;
    height: 75%;
    position: absolute;
    top: 100px;
    left: 250px;
}
.header{
    
    width: 100%;
    height: 15%;
}
.heading{
    position: absolute;
    left: 35px;
}
.heading1{
    font-weight: bold !important;
    font-size: 40px !important;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
   width: 58%;
   height: 30%;
   left: 300px;
   position: relative;
   padding-top: 40px;
}
.section-count{
    
    width: 100%;
    height: 40vh;
}
.count{
    border: 1px solid black;
    width: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 75%;
    position: relative;
    left: 290px;
    top: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold
}
/* .button-container{
    /* display: flex;
}  */
.buttons-container{
    display: block;
    display: flex
;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    left: 210px;
    
    top: 20px;
}
.icons{
    margin: 20px;
}

.button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    width: 100px;
    cursor: pointer;
    height: 100px;
    width: 80px;
    height: 80px;
    border-radius: 20%;
    /* border: 1px solid black; */
}
.button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(151, 19, 135, 0.5);
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
}
 


  
   
  .input-is {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid hsl(221, 26%, 43%);
  }
  
  .input-is:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(102, 224, 255, 0.2) 27%,
      rgba(102, 224, 255, 0.2) 63%,
      transparent 100%
    );
  }
   
  .input-is:focus {
    outline: none;
    border-bottom: 1px solid hsl(192, 100%, 100%);
    color: hsl(192, 100%, 88%);
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(102, 224, 255, 0.2) 27%,
      rgba(102, 224, 255, 0.2) 63%,
      transparent 100%
    );
  }
  
  .input-is::-moz-placeholder {
    color: hsla(192, 100%, 88%, 0.806);
  }
  
  .input-is::placeholder {
    color: hsla(192, 100%, 88%, 0.806);
  }
   